#introLinks{
	display: block;
	font-size: 14px;
	a{
		margin-left: 5px;
		color: white;
	    cursor:pointer;
		text-decoration: underline;
	}
	p a:first-of-type{
		margin-left: 20px;
	}
	@media screen and (max-width: 600px){	
	    display: none;
	}	
}

#noResults{
	height: 150px;
	padding: 20px;
	font-size: 20px;
	text-align: center;
}


