#nextShoe{
	margin: 0 10px 0 10px;
	float: right;
}
#prevShoe{
	margin: 0 10px 0 10px;
	float: right;
}
#backText1 {
	display: none;		
	@media screen and (max-width: 600px){	
		    display: inline;
	}	
}
#backText2 {
	display: inline;		
	@media screen and (max-width: 600px){	
		    display: none;
	}	
}
#nextText {
	display: inline;	
	@media screen and (max-width: 800px){	
	    display: none;
	}	
	line-height: 24px;		
}

#nameText {
	display: inline;
	line-height: 24px;		
	@media screen and (max-width: 600px){	
	    display: none;
	}	
}
#idText {
	display: inline;	
	@media screen and (max-width: 1000px){	
	    display: none;
	}	
}
#sneaker {
	display: block;
    margin-top: 68px;
	height: 1000px;
	@media screen and (max-width: 600px){	
	    margin-top: 45px;
	}	
}

#sneakerImage {
    margin: 0 2.666666666% 0 2.666666666%;
}

#sneakerImage img {
	@extend .shadow;
}

#sneaker .buyLink {
	display: block;
	width: 200px;
	background: #000000;
	padding: 10px;
	text-align: left;
	color: white;
	text-decoration: none;
}
#sneaker ul{
	list-style-type: none;
	float: right;
}
#sneaker li{
	margin-top: 10px;
}
#sneakerDetails p{
	margin-bottom: 10px;
}

@media screen and (max-width: 1000px){	
	.related8, .related9{
	    display: none;
	}
}	
@media screen and (max-width: 800px){	
	.related8{
	    display: block;
	}
}	
@media screen and (max-width: 440px){	
	.related9{
	    display: block;
	}
}	


