/* import required sets */
@import "_global.scss";
@import "_layout.scss";
@import "_text.scss";
@import "_navigation.scss";
@import "_products.scss";
@import "_home-page.scss";



/* 
600 BREAK POINT
*/
@media screen and (min-width: 600px){	
	#nameText {
		display: inline;		
	}
	#backText1 {
		display: none;		
	}
	#backText2 {
		display: inline;		
	}
}

	

/* 
800 BREAK POINT
*/
@media screen and (min-width: 800px){	
	#nextText {
		display: inline;	
	}
	h4{
		margin: 20px 2% 20px 2%;
	}
	#sneakerImage {
		float: right;
		width: 60%;
		margin: 0 2% 20px 0;
	}
	#sneakerDetails {
		width: 31%;
		margin: 0 0 0 2%;
	}
	#longerResults{
	    display: inline;
	}
}	




/* 
1000 BREAK POINT
*/
@media screen and (min-width: 1000px){	
	grid-products, #sneaker {
	    margin-top: 70px;
	}
	#idText {
		display: inline;	
	}
	#sneakerImage {
		float: right;
		width: 50%;
		margin: 0 2% 20px 0;
	}
	#sneakerDetails {
		width: 43%;
		margin: 0 0 0 2%;
	}
}

/* 
1250 BREAK POINT
*/
@media screen and (min-width: 1250px){	
	#sneakerImage {
		margin: 0 1.6% 20px 0;
	}
	#sneakerDetails {
		margin: 0 0 0 1.6%;
	}
	h4{
		margin: 20px 1.6% 20px 1.6%;
	}
}	

/* 
1500 BREAK POINT
*/
@media screen and (min-width: 1500px){	
	#sneakerImage {
		margin: 0 1.3333333% 20px 0;
	}
	#sneakerDetails {
		margin: 0 0 0 1.3333333%;
	}
	h4{
		margin: 20px 1.3333333% 20px 1.3333333%;
	}
}	

/* 
1800 BREAK POINT
*/
@media screen and (min-width: 1800px){	
	#sneakerImage {
		margin: 0 20px 20px 0;
	}
	#sneakerDetails {
		margin: 0 0 0 20px;
		width: 45%;
	}
	h4{
		margin: 20px 20px 20px 20px;
	}
}	


