/* import required sets */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* define reused colours */
/* define site fonts */
.shadow, header, card-intro, card-shoe, #infscr-loading, #relatedSneakers h4, card-sneaker-image, card-sneaker-details, #sneakerImage img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.27); }

.lowlight, card-shoe, #infscr-loading, #relatedSneakers h4, card-sneaker-image, card-sneaker-details {
  color: #333;
  background-color: #fff; }

.highlight, header, card-intro {
  color: #fff;
  background-color: #000; }

body {
  margin: 0;
  font-family: "Lato", serif;
  font-weight: 300;
  background-color: #FFFFFF;
  color: #333333;
  background-image: url("/images/backgrounds/tread.png"); }

img {
  max-width: 100%; }

header {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: auto; }

grid-products {
  display: block;
  margin-top: 68px; }
  @media screen and (max-width: 600px) {
    grid-products {
      margin: 45px 0 0 0; } }

card-intro {
  float: left;
  width: 492px;
  margin: 0 0 15px 15px;
  padding: 20px; }
  @media screen and (max-width: 1800px) {
    card-intro {
      width: 41.66667%;
      margin: 0 0 15px 0.83333%; } }
  @media screen and (max-width: 1500px) {
    card-intro {
      width: 48.5%;
      margin: 0 0 15px 1%; } }
  @media screen and (max-width: 1250px) {
    card-intro {
      width: 58.08%;
      margin: 0 0 15px 1.2%; }
      card-intro h3 {
        font-size: 20px; } }
  @media screen and (max-width: 1000px) {
    card-intro {
      width: 47.75%;
      margin: 0 0 15px 1.5%; }
      card-intro h3 {
        font-size: 16px; } }
  @media screen and (max-width: 800px) {
    card-intro {
      width: 96.25%;
      margin: 0 0 15px 1.875%; }
      card-intro #searchField {
        font-size: 16px; } }
  @media screen and (max-width: 600px) {
    card-intro {
      width: 95%;
      margin: 0 0 15px 2.5%; } }
  @media screen and (max-width: 440px) {
    card-intro {
      width: 93.18182%;
      margin: 0 0 15px 3.40909%; } }

card-shoe, #infscr-loading {
  float: left;
  font-size: 12px;
  width: 236px;
  margin: 0 0 15px 15px; }
  card-shoe .shoeName, #infscr-loading .shoeName {
    color: #666666; }
  card-shoe .shoeDetails, #infscr-loading .shoeDetails {
    width: 90%;
    height: 52px;
    margin: auto;
    background-color: white; }
  card-shoe .shoeBrand, #infscr-loading .shoeBrand {
    float: left; }
  card-shoe .shoePrice, #infscr-loading .shoePrice {
    float: right; }
  @media screen and (max-width: 1800px) {
    card-shoe, #infscr-loading {
      width: 13.33333%;
      margin: 0 0 15px 0.83333%;
      font-size: 12px; } }
  @media screen and (max-width: 1500px) {
    card-shoe, #infscr-loading {
      width: 15.5%;
      margin: 0 0 15px 1%;
      font-size: 12px; } }
  @media screen and (max-width: 1250px) {
    card-shoe, #infscr-loading {
      width: 18.56%;
      margin: 0 0 15px 1.2%;
      font-size: 12px; } }
  @media screen and (max-width: 1000px) {
    card-shoe, #infscr-loading {
      width: 23.125%;
      margin: 0 0 15px 1.5%;
      font-size: 12px; } }
  @media screen and (max-width: 800px) {
    card-shoe, #infscr-loading {
      width: 30.83333%;
      margin: 0 0 15px 1.875%; } }
  @media screen and (max-width: 600px) {
    card-shoe, #infscr-loading {
      width: 30%;
      margin: 0 0 15px 2.5%; } }
  @media screen and (max-width: 440px) {
    card-shoe, #infscr-loading {
      width: 44.88636%;
      margin: 0 0 15px 3.40909%; } }

#infscr-loading div {
  height: 52px; }

#relatedSneakers {
  clear: both; }

#relatedSneakers h4 {
  display: block;
  margin: 15px;
  padding: 10px; }

card-sneaker-image {
  display: block;
  float: left;
  margin: 15px; }
  @media screen and (max-width: 1800px) {
    card-sneaker-image {
      width: 55.83333%;
      margin: 0 0 15px 0.83333%; } }
  @media screen and (max-width: 1500px) {
    card-sneaker-image {
      width: 56.75%;
      margin: 0 0 15px 1%; } }
  @media screen and (max-width: 1250px) {
    card-sneaker-image {
      width: 58.08%;
      margin: 0 0 15px 1.2%; } }
  @media screen and (max-width: 1000px) {
    card-sneaker-image {
      width: 60.0625%;
      margin: 0 0 15px 1.5%; } }
  @media screen and (max-width: 800px) {
    card-sneaker-image {
      float: none;
      width: 96.25%;
      margin: 0 0 15px 1.875%; } }
  @media screen and (max-width: 600px) {
    card-sneaker-image {
      width: 95%;
      margin: 0 0 15px 2.5%; } }
  @media screen and (max-width: 440px) {
    card-sneaker-image {
      width: 93.18182%;
      margin: 0 0 15px 3.40909%; } }

card-sneaker-details {
  display: block;
  margin: 15px;
  width: 400px;
  padding: 10px;
  overflow: auto;
  float: left; }
  @media screen and (max-width: 1800px) {
    card-sneaker-details {
      width: 41.66667%;
      margin: 0 0 15px 0.83333%; } }
  @media screen and (max-width: 1500px) {
    card-sneaker-details {
      width: 40.25%;
      margin: 0 0 15px 1%; } }
  @media screen and (max-width: 1250px) {
    card-sneaker-details {
      width: 38.32%;
      margin: 0 0 15px 1.2%; } }
  @media screen and (max-width: 1000px) {
    card-sneaker-details {
      width: 35.4375%;
      margin: 0 0 15px 1.5%; } }
  @media screen and (max-width: 800px) {
    card-sneaker-details {
      width: 96.25%;
      margin: 0 0 15px 1.875%; } }
  @media screen and (max-width: 600px) {
    card-sneaker-details {
      width: 95%;
      margin: 0 0 15px 2.5%; } }
  @media screen and (max-width: 440px) {
    card-sneaker-details {
      width: 93.18182%;
      margin: 0 0 15px 3.40909%; } }

h1 {
  margin: 10px 0 10px 15px;
  font-size: 20px;
  font-weight: 300; }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 16px; } }
  h1 .sneaker {
    text-align: center; }
  h1 a {
    color: #FFFFFF;
    text-decoration: none; }
  h1 a {
    color: #FFFFFF;
    text-decoration: none; }
  h1 #filterString a:hover, h1 #searchString a:hover {
    text-decoration: line-through; }

header {
  font-size: 20px; }
  @media screen and (max-width: 600px) {
    header {
      font-size: 16px; } }

#headerBar a, #headerBarStandalone a {
  color: #FFFFFF;
  text-decoration: none; }

h1 a, #headerBar a:hover {
  text-decoration: none; }

h2 {
  margin: 0 10px 0 0;
  font-size: 16px;
  font-weight: 300; }
  @media screen and (min-width: 600px) {
    h2 {
      font-size: 20px; } }

h3 {
  margin: 0 10px 20px 0;
  font-size: 20px;
  font-weight: 300; }

h4 {
  font-size: 20px;
  font-weight: 300; }

h5 {
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 0.8em;
  color: #666; }

#logo {
  float: left;
  margin: 0 10px 0 10px;
  display: inline; }
  @media screen and (max-width: 600px) {
    #logo {
      display: none; } }

#filterImg, #searchImg {
  margin: 2px 20px 0 0;
  float: right; }

nav-filters {
  margin: -5px 20px 0 0;
  float: right;
  display: none;
  background-color: black; }
  nav-filters a {
    color: #FFFFFF; }
  nav-filters ul {
    list-style-type: none;
    float: left;
    margin-left: -30px;
    margin-right: 20px; }

@media screen and (max-width: 600px) {
  #modelFilters {
    display: none; } }

.subHeader {
  padding-top: 10px; }

.brand2 {
  display: none; }

#searchField {
  font-family: "Lato", serif;
  width: 100%;
  height: 40px;
  margin: 20px 0 20px 0;
  padding: 10px 5px;
  border: 0;
  background: #fff;
  border-radius: 10px;
  font-size: 100%; }

nav-searchbar {
  display: block;
  padding: 20px;
  width: 100%; }

#introLinks {
  display: block;
  font-size: 14px; }
  #introLinks a {
    margin-left: 5px;
    color: white;
    cursor: pointer;
    text-decoration: underline; }
  #introLinks p a:first-of-type {
    margin-left: 20px; }
  @media screen and (max-width: 600px) {
    #introLinks {
      display: none; } }

#noResults {
  height: 150px;
  padding: 20px;
  font-size: 20px;
  text-align: center; }

#nextShoe {
  margin: 0 10px 0 10px;
  float: right; }

#prevShoe {
  margin: 0 10px 0 10px;
  float: right; }

#backText1 {
  display: none; }
  @media screen and (max-width: 600px) {
    #backText1 {
      display: inline; } }

#backText2 {
  display: inline; }
  @media screen and (max-width: 600px) {
    #backText2 {
      display: none; } }

#nextText {
  display: inline;
  line-height: 24px; }
  @media screen and (max-width: 800px) {
    #nextText {
      display: none; } }

#nameText {
  display: inline;
  line-height: 24px; }
  @media screen and (max-width: 600px) {
    #nameText {
      display: none; } }

#idText {
  display: inline; }
  @media screen and (max-width: 1000px) {
    #idText {
      display: none; } }

#sneaker {
  display: block;
  margin-top: 68px;
  height: 1000px; }
  @media screen and (max-width: 600px) {
    #sneaker {
      margin-top: 45px; } }

#sneakerImage {
  margin: 0 2.666666666% 0 2.666666666%; }

#sneaker .buyLink {
  display: block;
  width: 200px;
  background: #000000;
  padding: 10px;
  text-align: left;
  color: white;
  text-decoration: none; }

#sneaker ul {
  list-style-type: none;
  float: right; }

#sneaker li {
  margin-top: 10px; }

#sneakerDetails p {
  margin-bottom: 10px; }

@media screen and (max-width: 1000px) {
  .related8, .related9 {
    display: none; } }
@media screen and (max-width: 800px) {
  .related8 {
    display: block; } }
@media screen and (max-width: 440px) {
  .related9 {
    display: block; } }

/*# sourceMappingURL=sneaker.css.map */
